<!-- <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add Task</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        {{diagnostic}}
        <form #taskForm="ngForm" formGroupName="taskForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input [(ngModel)]="task.name" type="text" maxlength="20" class="form-control" id="name" name="name" required #name="ngModel">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                        Name is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea [(ngModel)]="task.description" maxlength="100" class="form-control" id="description" name="description" placeholder="Due dates, special notes, all that jazz" rows="2"></textarea>
            </div>
            <div class="form-group">
                <label for="estimatedTime">Estimated Time to Complete (minutes)</label>
                <input [(ngModel)]="task.estimatedTime" type="number" value="0" min="0" max="1000" class="form-control" id="estimatedTime" name="estimatedTime" required #name="ngModel">
                <div *ngIf="estimatedTime.invalid && (estimatedTime.dirty || estimatedTime.touched)" class="alert alert-danger">
                    <div *ngIf="estimatedTime.errors.required">
                        Estimated Time is required
                    </div>
                    <div *ngIf="estimatedTime.errors.minlength">
                        Estimated Time must be at least 0 minutes.
                    </div>
                    <div *ngIf="estimatedTime.errors.maxlength">
                        Estimated Time must be at most 1000 minutes.
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success" (click)="createTask(); taskForm.reset(); d('Task created');">Create</button>
        </form>
    </div>
</ng-template>

<div class="container">
    <div class="currentTasksInput">
        <h2> Current Tasks <div class="icon-btns" (click)="open(content)" title="Add Task"><i class="material-icons md-28 md-dark">library_add</i></div></h2>
        <div class="taskInputSection">

        </div>

        <div class="task-grid">
            <div *ngFor="let task of currentTasks">
            <div class="task" id={{task.name}}>
                <h6>{{task.name}}</h6>
                <p>{{task.description}}</p>
                <p>Est. Time: {{task.estimatedTime}}</p>
                <p *ngIf="completed">Actual Time: {{task.actualTime}}</p>
                <div class="btn-container">
                    <div class="btns btns-secondary" *ngIf="!task.inProgress" (click)="startTask(task.name)">Start</div>
                    <div class="btns btns-secondary" *ngIf="task.inProgress" (click)="completeTask(task.id)">Complete</div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="completedTasks">
        <h2> Completed Tasks </h2>
        <div class="task-grid">
            <div *ngFor="let completedTask of completedTasks">
                <div class="task" id="{{completedTask.id}}">
                    <h6>{{completedTask.name}}</h6>
                    <p>{{completedTask.description}}</p>
                    <p>Est. Time: {{completedTask.estimatedTime}}</p>
                    <p *ngIf="completedTask.completed">Actual Time: {{completedTask.actualTime}}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
