<div class="jumbotron">
    <div class="jumbotron-content">
        <h4>FAQ</h4>
        <hr/>
        <h6>Why did you build this?</h6>
        <p>Because we are all terrible at time management.</p>
        <h6>Have you thoroughly tested this?</h6>
        <p>Not even a little bit. We just said we did.</p>
        <h6>What improvements do you have in mind for this?</h6>
        <p>Fixing styling, testing, and some other minor changes to components.</p>
    </div>
</div>
<app-footer></app-footer>
