@import "~sass/mixins";

.jumbotron {
    height: 200px;
    width: 100%;
    background: $jumbotron;
    background-size: cover;
    margin-top: 70px;
    padding: 40px;
    h1 {
        font-family: $h1;
        color: white;
        font-size: 60px;
    }

    h4 {
        font-family: $h4;
        color: white;
        font-size: 20px;
    }
}
