<div class="jumbotron">
    <div class="jumbotron-content">
        <h4>About</h4>
        <hr/>
        <p>
            Backlog is a time management application that actually times how you manage your time. It’s only a little stress-inducing!
            We hope to help you improve your time management skills by asking you to estimate how long you think a task will take you, then timing how long it takes you to actually complete it.
        </p>
        <p>Made with &#9749;</p>
    </div>
</div>
<app-footer></app-footer>
