@import '~sass/mixins';
.nav {
	background-color: $nav;
	display: flex;
	position: fixed;
	width: 100%;
	height: 70px;
	justify-content: space-between;
	z-index: 20;
	.brandInfo {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	    align-items: center;
		a {
			color: white;
			text-decoration: none;
			.name {
				font-family: $h1;
		    	color: white;
				padding: 5px 10px;
				margin: 10px;
				font-size: 30px;
		    }
			&:hover {
				cursor: pointer;
				color: darken(white, 20%);
			}
		}
	}
	.links {
		display: none;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: center;
		ul {
			list-style: none;
			display: inline-flex;
			margin-top: 35px;
			li {
				color: $li;
				padding: 10px 10px;
				margin: 10px;
				font-family: $h4;
				font-size: 50px;
				&:hover {
					color: darken(white, 20%);
					cursor: pointer;
				}
				a {
					color: white;
					text-decoration: none;
					&:hover {
						cursor: pointer;
						color: darken(white, 20%);
					}
				}
			}
		}
	}
	.menu-btn {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: center;
		padding: 0 20px;
		.menu-toggle {
			position: relative;
			display: block;
			margin: auto;
			height: ($offset*2) + $bar_height;
			width: $size;
			cursor: pointer;
			.bars {
				@include bar;
				position: absolute;
				top: 50%; left: 0;
				margin-top: -($bar_height/2);
				&:before,
				&:after {
					@include bar;
					content: "";
					position: absolute;
				}

				&:before { top: -$offset; }
				&:after { bottom: -$offset; }
			}
		}

		.active {
			.bars {
				background-color: transparent;
				&:before {
					top: 0;
					transform: rotate(45deg);
				}
				&:after {
					bottom: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}

	&.activeNav {
		height: 100%;
		width: 100%;
		display: inline-block;
		.brandInfo {
			display: inline-block;
		    float: left;
		}
		.menu-btn {
			display: inline-block;
			float: right;
			padding-top: 22px;
		}
		.links {
			clear: both;
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
			text-align: center;
			margin: 0px;
			ul {
				list-style: none;
				display: block;
				li {
					color: $li;
					padding: 10px 10px;
					margin: 10px;
					font-size: 20px;
					&:hover {
						color: darken(white, 20%);
						cursor: pointer;
					}
				}
			}
		}
	}
}
