<br>
<br>
<br>


<h3> Add task </h3>
  <form (ngSubmit)="addNewTask()">
    <div>
      <input type="text" placeholder="Add a task" [(ngModel)]="task.task_name"
        name="Task name">
        <label> Title </label>
    </div>

    <div>
    <input type="text" placeholder="Add a description" [(ngModel)]="task.task_description"
      name="Task Description">
      <label> Description </label>
    </div>
    <div>
    <input type="text" placeholder="Enter a number" [(ngModel)]="task.estimated_time_mins"
      name="Est. time">
      <label> Estimated time (in minutes) </label>
    </div>
    <input type="submit" value="submit">

    </form>

<br><br>


<h2> {{hoursDisplay ? hoursDisplay : '00'}} : {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}} </h2>

  <br>


<p> Counter started at: {{ startDate }} </p>
<p> Counter stopped at: {{ endDate }} </p>

<p> Time elapsed: {{ difference }} ms. </p>

<button (click)="startCounter()" id="button-start"> Start </button>
<button (click)="submitStopDate()" id="button-stop"> Stop </button>

<br><br>
<div *ngIf="timestamps?.length > 0; else noTimestampsTemplate">
  <ul *ngFor="let timestamp of timestamps">
    <!-- <li> <strong> ID: </strong> {{ timestamp.id }}</li> -->
    <li> <strong> Start time: </strong> {{ timestamp.start_time }}</li>
    <li> <strong> End time: </strong> {{ timestamp.end_time }}</li>
    <li> <strong> Elapsed time </strong> {{ timestamp.time_elapsed_sec }}</li>
  </ul>
  <br>
</div>

<ng-template #noTimestampsTemplate>
  <p> There are no Timestamps to be retrieved :( </p>
</ng-template>

<br>
<br>
<br>
<br>
<br>
