<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Calendar</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <full-calendar></full-calendar>
    </div>
</ng-template>

<div class="icon-btns" (click)="open(content)"><i class="material-icons md-28 md-light">today</i></div>
