<div class=dashboard-content>
    <app-sidenav></app-sidenav>
    <div class="dashboard-sections">
        <div class="date"><h5 class="dark">Monday, April 26, 2018</h5></div>
        <div class="tasks"><p class="dark">TODO SECTION</p></div>
        <div class="timer"><p class="dark">TIMER</p></div>
        <div class="today"><p class="dark">TODAY'S STUFF</p></div>
		<div class="mat-app-background basic-container">
		<app-datepicker>loading</app-datepicker>
    <app-daily-to-do></app-daily-to-do>
		</div>
    </div>
</div>
