<div class="tasks-and-timer">
    <div class="tasks-section">
        <h3>Current tasks: <app-task-form-modal></app-task-form-modal></h3>
        <!-- <div *ngFor="let task of tasks | async">{{task.name}}, {{task.estimatedTime}}</div> -->
        <div class="task-grid">
            <div *ngFor="let task of tasks | async">
                <div class="task">
                    <div class="task-info">
                        <h6>{{task.name}}</h6>
                        <p>{{task.description}}</p>
                        <p>Est. Time: {{task.estimatedTime}}</p>
                        <p *ngIf="completed">Actual Time: {{task.actualTime}}</p>
                    </div>
                    <div class="btn-container">
                        <div class="btns btns-secondary" *ngIf="!task.inProgress" (click)="startTask(task._id)">Start</div>
                        <div class="btns btns-secondary" *ngIf="task.inProgress" (click)="completeTask(task._id)">Complete</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="timer-section"><app-time-tracker *ngIf="taskInProgress" [task]="taskInProgress" (isStarted)="shouldStartTimer(true)"></app-time-tracker></div>
</div>
