@import '~sass/mixins';

.tasks-and-timer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    .tasks-section {
        float: left;
    }
    .timer-section {
        float: right;
    }
}
.task-grid {
    width: 80%;
    display: inline-flex;
    flex-flow: row wrap;
    .task {
        width: 180px;
        height: 180px;
        margin: 5px;
        display: flex;
        padding: 10px;
        border: 1px solid #aaaaaa;
        box-shadow: 1px 1px 5px #aaaaaa;
        background-color: $task;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        .task-info {
            display: flex;
            flex-flow: column nowrap;
            min-height: 125px;
        }
        .btn-container {
            display: flex;
            justify-content: center;
            align-items: baseline;
        }
    }
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
