<div class="sidenav">
    <ul class="menuItems">
        <li class="menuItem"><button class="icon-btn"><i class="material-icons md-28 md-light">view_quilt</i></button></li>
        <li class="menuItem"><button class="icon-btn"><i class="material-icons md-28 md-light">assessment</i></button></li>
        <li class="menuItem"><button class="icon-btn"><i class="material-icons md-28 md-light">today</i></button></li>
        <li class="menuItem"><button class="icon-btn"><i class="material-icons md-28 md-light">account_box</i></button></li>
    </ul>
</div>
